body{
    background: #ffff !important;
  }

  .slot_machine{
    background: rgb(185,164,241);
    background: -moz-linear-gradient(left, rgba(185,164,241,1) 0%, rgba(107,92,243,1) 100%);
    background: -webkit-linear-gradient(left, rgba(185,164,241,1) 0%,rgba(107,92,243,1) 100%);
    background: linear-gradient(to right, rgba(185,164,241,1) 0%,rgba(107,92,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9a4f1', endColorstr='#6b5cf3',GradientType=1 );
}
  
  
  
  
  #slot{
	box-sizing: content-box;
	border: 35px solid #6b5cf3;
	border-radius: 65px;
}

.blink {
  animation: blink 0.4s infinite alternate;
  -webkit-animation: blink 0.4s infinite alternate;
}
@keyframes blink {
  to {
    background: #c3ad00;
  }
}
@-webkit-keyframes blink {
  to {
    background: #c3ad00;
  }
}


.gold{
  color: gold !important;
}
.green{
  color: green;
}

.v-align{
  vertical-align: inherit !important;
}

div.modal-footer, div.modal-body, div.modal-header{
  background-color: #d9d9d9de;
  color: white;
}

.preview{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  background: rgb(255, 255, 255) !important;
  margin: auto;
  z-index:999999;
  width:480px;
  text-align: center;
}

.preview img{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  background: rgb(255, 255, 255) !important;
  margin: auto;
  z-index:999999999;
}
.slt_game{

}
/* tittle text part start here  */

.slot_title{

}
.slot_title h3{
    
}

/* slot title part end here  */