.swiper {
    width: 100%;
    max-width: 1280px;
    height: 300px;
    margin-top: 40px;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEE;
}
.swiper-slide a{
    height: 100%;
    width: 100%;
}
.swiper-slide video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


